* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.MainContainer {
  padding: 10px 10px 10px 30px;
}

ol {
  width: 200px;
}

.high-priority {
  background-color: red;
}

.med-priority {
  background-color: yellow;
}

.low-priority {
  background-color: green;
}