* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.MainContainer {
  padding: 10px 10px 10px 30px;
}

div {
  margin: 30px 0;
}

p {
  margin: 5px 0;
}

ol {
  min-width: 200px;
  max-width: 300px;
  font-weight: bold;
}

li {
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

.high-priority {
  background-color: red;
}

.med-priority {
  background-color: yellow;
}

.low-priority {
  background-color: green;
}